<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Tailwind</title>

    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-white-800">
    <nav class="max-w-[1024px] mx-auto flex justify-between py-5">
      <h2 class="text-teal-600 drop-shadow-md font-sans text-5xl ml-5 py-3">
        Team4
      </h2>
      <div class="mr-5 justify-center p-6">
        <a
          href="#"
          class="text-black-300 font-sans drop-shadow-md hover:text-teal-600 p-2"
          >Home</a
        >
        <a
          href="#"
          class="text-black-300 font-sans drop-shadow-md hover:text-teal-600 p-2"
          >About</a
        >
        <a
          href="#"
          class="text-black-300 font-sans drop-shadow-md hover:text-teal-600 p-2"
          >Contact</a
        >
      </div>
    </nav>
    <hero class="max-w-[1024px] flex row mx-auto mt-10 justify-between">
      <div class="p-4">
        <p class="text-teal-600 text-6xl py-2 font-sans drop-shadow-md">
          Turn Fun Into
        </p>
        <p class="text-teal-600 text-6xl py-2 font-sans drop-shadow-md">
          Cash With Team4
        </p>
        <p class="text-slate-600 max-w-[600px] mt-5">
          Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet
          consectetur
        </p>
      </div>
      <div>
        <img
          src="/images/meeting.jpg"
          height="400px"
          width="500px"
          alt="meeting"
        />
      </div>
    </hero>
    <footer class="max-w-[1024px] mx-auto mt-10">
      <p class="text-center p-4">Copyright © 2024 Team4 Inc.</p>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
